*{
    margin:0;
    padding: 0;
}

.container{
    padding: 20px;
}

.header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: grey;

}

a:hover{
    color: white;
    cursor: pointer;
}

.content{
    padding-top: 10px;
    display: flex;
    text-align: center;
}

.one{
    border: 2px solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    flex: 1;
}


.two{
    border: 2px solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    flex: 1;
}


.three{
    border: 2px solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    flex: 1;
}


.four{
    border: 2px solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    flex: 1;
}

p{
    padding-top: 50px;
}

button{
    background-color: orangered;
    color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top:50px;
    font-size: large;
    font-weight: bold;
}

.para{
    padding: 30px;
}

.button{
    margin-top: 15px;
    padding-top: 10p;
}

button:hover{
     background-color:green;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.contact{
    padding-left: 40%;
    padding-top: 10px;
}

.send{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 300px;
    padding-right: 300px;
}